.modal-footer {
	padding: 1rem;
}

.modal-body {
	padding: 2rem;
}

.modal.fade .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(.5);transform: translate(0,0)scale(.5);}
.modal.show .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(1);transform: translate(0,0)scale(1);}

.error {
	color: red;
	font-weight: 300;
}

.radio[disabled] {
    background-color: #4caf50;
}
